Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [22]:
def is_symmetrical(n):
    n=str(n)
    s=''
    for i in n[::-1]:
        s=s+''.join(i)   
    if n ==s:
        return True
    else:
        return False
is_symmetrical(1112111)

True

In [19]:
def is_symmetrical(n):
    return str(n)==str(n)[::-1]
is_symmetrical(9931)

False

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [36]:
def multiply_nums(s):
    product=1
    s=s.split(", ")
    for i in s:
        product=product*int(i)
    return product    
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [48]:
def square_digits(n):
    s=str(n)
    p=''
    for i in s:
        p=p+''.join(str(pow(int(i),2)))
    return int(p)  
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [53]:
def setify(l):
    return list(set(sorted(l)))
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [59]:
def mean(n):
    n=str(n)
    sum=0
    count=0
    for i in n:
        sum=sum+int(i)
        count=count+1
    return int(sum/count) 
mean(512)

2